<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>MetroApp</title>
</head>
<body>
	<h1>Welcome to The Metro System</h1>
	<form action="./register" method="post">
		Enter Email: <input type="email" name="email"><br>
		<br> Enter First Name: <input type="text" name="firstName"><br>
		<br> Enter Last Name: <input type="text" name="lastName"><br>
		<br> Enter Password: <input type="password" name="password"><br>
		<br> Confirm Password: <input type="text"
			name="passwordConfirmation"><br>
		<br> <input type="Submit" value="Add New User">
	</form>
</body>
</html>